apiVersion: v1
kind: Secret
metadata:
  name: kk-payments-secrets
  namespace: kijani-project

type: Opaque

stringData:
  DB_PASSWORD: "kijani-dev-password"
  STRIPE_API_KEY: "sk-test-placeholder"
  JWT_SECRET: "kijani-jwt-dev-secret"
