[Unit]
Description=KijaniKiosk API Service
After=network.target

[Service]
Type=simple

User=kk-api
Group=kk-api

WorkingDirectory=/opt/kijanikiosk

EnvironmentFile=/opt/kijanikiosk/config/api.env

ExecStart=/usr/bin/python3 /opt/kijanikiosk/api.py

Restart=always
RestartSec=5

StandardOutput=journal
StandardError=journal

# Security Hardening
NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=yes
ProtectSystem=full
ProtectHome=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
ProtectHostname=yes
RestrictSUIDSGID=yes
RestrictRealtime=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
RestrictNamespaces=yes
RemoveIPC=yes
SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target