[Unit]
Description=KijaniKiosk Payments Service
After=network.target

[Service]
Type=simple

User=kk-payments
Group=kk-payments

WorkingDirectory=/opt/kijanikiosk

EnvironmentFile=/opt/kijanikiosk/config/payments.env

ExecStart=/usr/bin/python3 /opt/kijanikiosk/payments.py

Restart=always
RestartSec=5

StandardOutput=journal
StandardError=journal

############################
# Security Hardening
############################

NoNewPrivileges=yes

PrivateTmp=yes
PrivateDevices=yes
PrivateUsers=yes

ProtectSystem=strict
ProtectHome=yes

ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
ProtectClock=yes
ProtectHostname=yes

LockPersonality=yes

MemoryDenyWriteExecute=yes

RestrictRealtime=yes

RestrictSUIDSGID=yes

RestrictNamespaces=yes

RemoveIPC=yes

SystemCallArchitectures=native

SystemCallFilter=@system-service

CapabilityBoundingSet=

AmbientCapabilities=

ReadWritePaths=/opt/kijanikiosk
ReadWritePaths=/var/log/kijanikiosk

UMask=0077

[Install]
WantedBy=multi-user.target